/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap');


html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: hsl(233, 47%, 7%);
  overflow-y: hidden;
}

main {
  /* border: 2px solid coral; */
  max-width: 20rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  background: hsl(277, 64%, 61%);
  border-radius: 20px;
}

img {
  opacity: 0.5;
}

.second-section {
  background-color: hsl(244, 38%, 16%);
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 1.5em;
  padding: 2px;
  /* border: 2px solid coral; */
  max-width: 11em;
  text-align: center;
  justify-self: center;
  color:  hsla(0, 0%, 100%, 0.75);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.insights {
  color: hsl(277, 64%, 61%);
}

.main-paragraph {
  color: hsla(0, 0%, 100%, 0.6);
  margin-bottom: 20px;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.small-paragraph {
  margin-bottom: 20px;
  /* border: 2px solid coral; */
  max-width: 5em;
  text-align: center;
  justify-self: center;
}

.small-paragraph-number {
 color:  hsla(0, 0%, 100%, 0.75);
 font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}

.small-paragraph-text {
  color: hsla(0, 0%, 100%, 0.6);
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.responsive-image {
  display: none;
}

@media (min-width: 40rem) {
  main {
    max-width: 80rem;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    
  }


  .second-section {
    width: 35em;
    padding: 33px;
  }

  h1 {
    /* border: 2px solid coral; */
    text-align: left;
    justify-self: left;
    max-width: 25em;
    font-size: 2em;
    margin-bottom: 40px;
  }

  .main-paragraph {
    /* border: 2px solid coral; */
    text-align: left;
    justify-self: left;
    max-width: 25em;
    margin-bottom: 70px;
  }
  .mobile-image {
    display: none;
  }
  .responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .paragraph-container {
    display: flex;
    /* border: 2px solid coral; */
    justify-content: space-between;
    max-width: 25em;
  }


}